html, body, #wrapper_index, #wrapper_ciphers
{
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;	
	width: 100%;
	height: 100%;
	background-image: url(images/noise.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color:black;
	color: white
	
}
p 
{
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	color:white
}
#container_index, #container_ciphers
{
	width: 960px;
	margin: 0 auto;
	
	padding: 6px 12px
   
}

#heading 
{
	background-image: url("images/header.jpg");
	background-color:black;
	border-style: solid;
	border-color: white;
	color:white;
	text-align:center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 35vh;
	background-position: center center;
	position: relative
}

#jefferson
{
	float: left; 
	width: 31%; 
	margin-right: 2%
}
#wheatstone
{
	float: left; 
	width: 31%; 
	margin-right: 2%
}
#enigma
{
	float: left; 
	width: 31%; 
	margin-right: 2%
}
#main_intro{
	text-align: justify
}
#classical_ciphers
{
	text-align: justify
}
#caesar_cipherbtn
{
	float: left; 
	width: 31%; 
	margin-right: 2%	
}

#hill_cipherbtn
{
	float: left; 
	width: 31%; 
	margin-right: 2%
}
#vigenere_cipherbtn
{
	float: left; 
	width: 31%; 
	margin-right: 2%
}
#caesar_cipher
{
	background-image: url("images/nkg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 100%;
	height: 100vh	
}
#hill_cipher
{
	background-image: url("images/nkg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 100%;
	height: 100vh	
}
#vigenere_cipher
{
	background-image: url("images/nkg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 100%;
	height: 100vh	
}
#inner_caesar
{
	background-image: url("images/innercipherbkg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 85vh;
	text-align: center
}
#inner_hill
{
	background-image: url("images/innercipherbkg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 80%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 95vh;
	text-align: center
}
#inner_vigenere
{
	background-image: url("images/innercipherbkg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 85vh;
	text-align: center
}
#caesar_text{
	width: 60%;		
}
#hill_text{
	width:80%;
}
#matrix_inverse1{
	 visibility: hidden;
}
#matrix_inverse2{
	visibility: hidden;
}
#matrix_inverse3{
	visibility: hidden;
}
#invMat_text{
	visibility: hidden;
}
#hill_ciphertext{
	visibility: hidden;
}
#hill_enterkeytext{
	margin-left: 70px;
	margin-right: 70px;
}
#m1, #m2, #m3, #m4, #m5, #m6, #m7, #m8, #m9{
	width: 20px;
}
#vigenere_text{
	width: 40%;
}
#vigenere_key{
	width: 40%;
}