/*
 Author: Lee Robinson
 Project: Stylesheet for SET08101cw
 Last updated 17/02/2018 03:28
*/
html, body, #wrapper_index, #wrapper_ciphers
{
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;	
	width: 99%;
	height: 100%;
	background-image: url(images/noise.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color:black;
	color: white;
	
	
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
	left:0;
    width: 100%;
	border-bottom: 1px solid;
}
/* unvisited link */
a:link {
    color: lightblue;
}

/* visited link */
a:visited {
    color: darkblue;
}

/* mouse over link */
a:hover {
    color: #C6E2E3;
}

/* selected link */
a:active {
    color: blue;
}

li {
    float: left;
}

li a {
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: black;
}
li a.active {
    background-color: #00008B;
    color: white;
}
h1 {
	font-size: 22pt; /*manually set as it is shrunk using the webkit */
    margin-top: 25px;
   
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
h2{
	font-size: 18px;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
p 
{
	font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
	color:white;
}
#container_index, #container_ciphers
{
	width: 960px;
	margin: 0 auto;
	padding: 6px 12px;  
}

#heading 
{
	color:white;
	text-align:center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 35vh;
	background-position: center center;
	position: relative;
}
#designs{
	text-align: center;
}
#jefferson
{
	float: left; 
	width: 31%; 
	margin-right: 2%;
}
#wheatstone
{
	float: left; 
	width: 31%; 
	margin-right: 2%
}
#enigma
{
	float: left; 
	width: 31%; 
	margin-right: 2%;
}
#main_intro{
	text-align: justify;
}
#classical_ciphers
{
	text-align: justify;
}
#caesar_cipherbtn
{
	float: left; 
	width: 31%; 
	margin-right: 2%	
}

#hill_cipherbtn
{
	float: left; 
	width: 31%; 
	margin-right: 2%;
}
#vigenere_cipherbtn
{
	float: left; 
	width: 31%; 
	margin-right: 2%;
}
#caesar_cipher
{
	background-image: url("images/nkg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 100%;
	height: 100vh;
}
#hill_cipher
{
	background-image: url("images/nkg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 100%;
	height: 100vh;
}
#vigenere_cipher
{
	background-image: url("images/nkg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 100%;
	height: 100vh	
}
#inner_caesar
{
	background-image: url("images/innercipherbkg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 85vh;
	text-align: center;
}
#inner_hill
{
	background-image: url("images/innercipherbkg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 80%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 95vh;
	text-align: center;
}
#inner_vigenere
{
	background-image: url("images/innercipherbkg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-color: white;
	width: 80%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	height: 85vh;
	text-align: center;
}
#caesar_text{
	width: 60%;		
}
#hill_text{
	width:80%;
}
#matrix_inverse1{
	 visibility: hidden;
}
#matrix_inverse2{
	visibility: hidden;
}
#matrix_inverse3{
	visibility: hidden;
}
#invMat_text{
	visibility: hidden;
	width: 80%;
	text-align: justify;
	margin-left: 70px;
	margin-right: 70px;
}
#hill_ciphertext{
	visibility: hidden;
}
#hill_enterkeytext{
	margin-left: 70px;
	margin-right: 70px;
}
#m1, #m2, #m3, #m4, #m5, #m6, #m7, #m8, #m9{
	width: 20px;
}
#vigenere_text{
	width: 40%;
}
#vigenere_key{
	width: 40%;
}
#footer{
	width: 100%;
	text-align: center;
	background-color:#262626;
	bottom: 0px;
	position: fixed;
	height: 35px;
	text-align: center;
	border-top: 1px solid;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
#caesarDesc{
	background-color: black;
	margin-left: 100px;
	margin-right: 100px;
}
#hillDesc{
	background-color: black;
	margin-left: 100px;
	margin-right: 100px;
}
#vigenereDesc{
	background-color: black;
	margin-left: 100px;
	margin-right: 100px;
}
